#upperNav {
    color: white;
    background-color: #636161;
}

#lowerNav {
    color: white;
    background-color: #0085a1;
}

.nav-link,
.toggle-button {
    color: #0085a1 !important;
}

.main-content {
    min-height: 80vh;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

blockquote {
    border-left: 5px solid #f86466;
    background: white;
}

.btn-xs {
    padding: 5px
}

.main-menu>li>a::after {
    content: unset !important;
}


/* =============================================================================================== */


/* New Theme */


/* =============================================================================================== */

.main-menu>li>a::after {
    content: unset !important;
}

.main-nav {
    background-color: #f5f4f4;
}

.logo {
    width: 45%;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '/';
}

.main-menu>.main-menu-active>a {
    color: #f76f58 !important;
}

.error-message {
    color: red;
}

.bootstrap-list>ol>li,
.bootstrap-list>ol>li>ol>li {
    display: list-item;
    list-style-type: unset;
}

.bootstrap-list>ul>li,
.bootstrap-list>ul>li>ul>li {
    display: list-item;
    list-style-type: unset;
}

.bootstrap-list>ol>li {
    padding-left: 20px;
}

.bootstrap-list>ol>li>ol>li {
    padding-left: 40px;
}

.bootstrap-list>ol {
    display: block;
    list-style-type: alpha;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.bootstrap-list>ul {
    display: block;
    list-style-type: disc;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.bootstrap-list>b {
    font-weight: bold;
}

.job-detail>* {
    all: unset;
}

.wrap-pic-w>img {
    border: 4px solid gray;
    height: 100px;
}

.ui-datepicker {
    position: relative;
    z-index: 10000 !important;
    background-color: whitesmoke;
    border: 2px solid darkgray;
    padding: 10px;
}