<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Assam Adda</title>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-links"></th:block>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-css"></th:block>
</head>

<body class="animsition">
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-header"></th:block>

    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 m-tb-6">
                <a th:href="@{/}" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>
                <span class="breadcrumb-item f1-s-3 cl9">Books </span>
            </div>

            <form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6" method="GET" th:action="@{/job-search}" id="form-job-search">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45 w-100" type="text" name="searchText" placeholder="Search">
                <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
            </form>
        </div>
    </div>

    <!-- Post -->
    <section class="bg0 pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30 text-center">
                    <h2 class="f1-l-4 cl3 p-b-12"></h2>
                    <h1 class="f1-l-4 cl3 p-b-12 text-primary">Coming Soon...</h1>
                </div>

                <div class="col-md-10 col-lg-4">
                    <th:block th:replace="fragments/unlogged_fragments :: unlogged-right-index-sidebar"></th:block>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-footer"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-top-button"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-js-scripts"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-end-scripts"></th:block>
</body>

</html>