<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Assam Adda</title>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-links"></th:block>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-css"></th:block>
    <!-- FOR FACEBOOK SHARE -->
    <meta property="og:url" th:attr="content=${'https://www.assamadda.com'+#request.requestURI}" />
    <!--===============================================================================================-->
    <meta property="og:type" content="website" />
    <!--===============================================================================================-->
    <meta property="og:title" th:attr="content=${jobData.currentObject.title}" />
    <!--===============================================================================================-->
    <meta property="og:description" th:attr="content=${jobData.currentObject.description}" />
    <!--===============================================================================================-->
    <meta property="og:image" th:attr="content=${'https://www.assamadda.com/organisationImage/'+jobData.currentObject.organisation.organisationId}">
    <!--===============================================================================================-->
</head>

<body class="animsition">

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-header"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-breadcrumb"></th:block>

    <!-- Post -->
    <section class="bg0 pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30">
                    <div class="p-r-10 p-r-0-sr991" th:if="${jobData.currentObject != null}">
                        <!-- Blog Detail -->
                        <div class="p-b-70">
                            <div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
                                <a href="#" class="col-3 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
                                    <img th:src="@{/organisationImage/__${jobData.currentObject.organisation.organisationId}__}" alt="IMG">
                                </a>

                                <div class="col-9 w-full-sr575 m-b-25">
                                    <h5 class="p-b-3">
                                        <a href="#" class="f1-m-3 cl2 hov-cl10 trans-03" th:text="${jobData.currentObject.title}">
                                        </a>
                                    </h5>
                                </div>
                            </div>

                            <div class="flex-wr-s-s p-b-40">
                                <span class="f1-s-3 cl8 m-r-15">
									<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">by Admin</a>
                                    <span class="m-rl-3">-</span>
                                <span th:text="${#dates.format(jobData.currentObject.postDate, 'dd-MMM-yyyy')}"></span>
                                </span>
                            </div>
                            <section class="img-thumbnail job-detail">
                                <p class="f1-s-11 cl6 p-b-25 img-thumbnail  table-responsive-sm table-responsive-md bootstrap-list" id="content"></p>
                            </section>
                            <!-- Sectors -->
                            <div class="flex-s-s p-t-12 p-b-15" th:if="${jobData.currentObject.sectors != null}">
                                <span class="f1-s-12 cl5 m-r-8">
									Sectors:
								</span>

                                <div class="flex-wr-s-s size-w-0">
                                    <a href="#" class="f1-s-12 cl8 hov-link1 m-r-15" th:each="sector : ${jobData.currentObject.sectors}" th:text="${sector.name}"></a>
                                </div>
                            </div>

                            <!-- Share -->
                            <div class="flex-s-s">
                                <span class="f1-s-12 cl5 p-t-1 m-r-15">
									Share:
								</span>

                                <div class="flex-wr-s-s size-w-0">
                                    <div class="fb-share-button" data-size="large" th:attr="data-href=${'https://www.assamadda.com'+#request.requestURI}" data-layout="button_count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pb-5 text-justify">
                            <b>DISCLAIMER</b> : Assam Adda posts job listings for the convenience of its visitors. The website and the members associated with it does not endorse or recommend employers, and a posting does not constitute an endorsement
                            or recommendation. Assam Adda explicitly makes no representations or guarantees about job listings or the accuracy of the information provided in website. The website is not responsible for safety, wages, working conditions
                            or any other aspect of employment or pre-employment screening without limitation. It is the responsibility of applicants to perform due diligence in researching employers when applying for or accepting private employment or
                            pre-screening appointments and to thoroughly research the facts and reputation of each organization to which they are applying. Applicants should be prudent and use common sense and caution when applying for or accepting any
                            position, and they should review the cautionary information in the employer's official website in order to be better informed of potential fraudulent or improper practices in order to protect themselves from harm.
                        </div>
                        <!-- Leave a comment -->
                        <div>
                            <h4 class="f1-l-4 cl3 p-b-12">
                                Leave a Comment
                            </h4>

                            <p class="f1-s-13 cl8 p-b-40">
                                Your email address will not be published. Required fields are marked *
                            </p>

                            <form>
                                <textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="Comment..."></textarea>

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="Name*">

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="Email*">

                                <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									Post Comment
								</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-10 col-lg-4">
                    <th:block th:replace="fragments/unlogged_fragments :: unlogged-right-index-sidebar"></th:block>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-footer"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-top-button"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-js-scripts"></th:block>

    <script th:inline="javascript" th:if="${jobData.currentObject != null}">
        //<![CDATA[
        var content = /*[[${jobData.currentObject.content}]]*/ '';
        $('#content').html(decodeURIComponent(content));
        //]]>
    </script>
    <script>
        $('#content img').addClass("img-fluid");
        $('#content table').addClass("table-responsive");
    </script>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-end-scripts"></th:block>
</body>

</html>