<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Assam Adda</title>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-links"></th:block>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-css"></th:block>
</head>

<body class="animsition">
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-header"></th:block>

    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 m-tb-6">
                <a th:href="@{/}" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>
                <span class="breadcrumb-item f1-s-3 cl9 text-capitalize">Search Results</span>
            </div>

            <form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6" method="GET" th:action="@{/job-search}" id="form-job-search">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45 w-100" type="text" name="searchText" placeholder="Search">
                <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
            </form>
        </div>
    </div>

    <!-- Post -->
    <section class="bg0 pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-50">
                    <div class="p-r-10 p-r-0-sr991">
                        <div class="how2 how2-cl2 flex-s-c">
                            <h3 class="f1-m-2 cl13 tab01-title text-capitalize" th:text="${'Search results matching - '+searchText}">

                            </h3>
                        </div>

                        <div class="p-b-40 pt-5" th:if="${#lists.isEmpty(jobData.objectList)}">
                            <h5 class="text-center">Sorry No Job Found. Please try later...</h5>
                        </div>
                        <div class="p-b-40" th:if="${not #lists.isEmpty(jobData.objectList)}">
                            <!-- Item post -->
                            <div class="flex-wr-sb-s p-t-20 p-b-15 how-bor2" th:each="job, iterator : ${jobData.objectList}">
                                <div class="col-12 w-full-sr575 m-b-10">
                                    <h5 class="p-b-3">
                                        <a th:href="@{/job/__${job.slug}__}" class="f1-m-3 cl2 hov-cl10 trans-03 respon2  text-justify" th:text="${#strings.abbreviate(job.title,120)}"></a>
                                    </h5>
                                </div>
                                <a th:href="@{/job/__${job.slug}__}" class="col-3 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
                                    <img th:src="@{/organisationImage/__${job.organisation.organisationId}__}" alt="IMG">
                                </a>
                                <div class="col-9 w-full-sr575 m-b-25">
                                    <div class="cl8">
                                        <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
											by Admin
										</a>
                                        <span class="f1-s-3 m-rl-3">
											-
                                        </span>
                                        <span class="f1-s-3" th:text="${#dates.format(job.postDate, 'dd-MMM-yyyy')}"></span>

                                    </div>
                                    <p class="f1-s-1 cl6 text-justify" th:text="${#strings.abbreviate(job.description,160)}"></p>

                                    <a th:href="@{/job/__${job.slug}__}" class="f1-s-1 cl9 hov-cl10 trans-03">
										Read More
										<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
									</a>
                                </div>
                                <div class="col-12 w-full-sr575 m-b-10" th:if="${iterator.count == 5}">
                                    <div class="flex-c-c">
                                        <a href="#">
                                            <img class="max-w-full" th:src="@{/publicTheme/images/banner-01.jpg}" alt="IMG">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" th:if="${not #lists.isEmpty(jobData.objectList)}">
                            <div class="col-lg-6">
                                <a class="flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03" th:if="${jobData.pageDetails.hasPrevious}" th:href="@{/?pageNo=__${jobData.pageDetails.pageNumber-1}__}"><i class="fa fa-arrow-left p-2"></i> New News </a>
                            </div>
                            <div class="col-lg-6">
                                <a class="flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03" th:if="${jobData.pageDetails.hasNext}" th:href="@{/?pageNo=__${jobData.pageDetails.nextPageNumber}__}"> Older News  <i class="fa fa-arrow-right p-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10 col-lg-4">
                    <th:block th:replace="fragments/unlogged_fragments :: unlogged-right-index-sidebar"></th:block>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-footer"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-top-button"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-js-scripts"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-end-scripts"></th:block>
</body>

</html>