<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-links"></th:block>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-css"></th:block>
    <title>Assam Online Jobs</title>
    <style>
        p {
            margin: 0;
        }
        
        #content>.table {
            width: unset !important;
        }
    </style>
</head>

<body>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/unlogged_fragments :: unlogged-navbar"></th:block>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3 d-none d-lg-block">
                        <!-- <div class="row">
                            <th:block th:replace="fragments/unlogged_fragments :: unlogged-sidebar-sector-links"></th:block>
                        </div>
                        <div class="row">
                            <th:block th:replace="fragments/unlogged_fragments :: unlogged-sidebar-admit-cards"></th:block>
                        </div>
                        <div class="row">
                            <th:block th:replace="fragments/unlogged_fragments :: unlogged-sidebar-exam-results"></th:block>
                        </div> -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <section th:if="${jobData.currentObject == null}">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <a th:href="@{/}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a> /
                                    <a href="#"> Job Search</a>
                                    <a href="#" onclick="window.history.back();" class="float-right mt-1"><i class="fas fa-backward"></i> Back</a>
                                </div>
                            </div>
                            <h5 class="text-center">Sorry No Job Found. Please try later...</h5>
                        </section>
                        <section th:if="${jobData.currentObject != null}">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <a th:href="@{/}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a> /
                                    <a href="#"> Job Details</a>
                                    <a href="#" onclick="window.history.back();" class="float-right"><i class="fas fa-backward"></i> Back</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="img-thumbnail "><img style="max-height:100px" class="img-fluid w-100" th:src="@{/organisationImage/__${jobData.currentObject.organisation.organisationId}__}"></div>
                                </div>
                                <div class="col-lg-9">
                                    <h3 th:text="${jobData.currentObject.title}"></h3>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <h5 class="post-meta">
                                        <span class="badge badge-secondary" th:text="${jobData.currentObject.category}"></span>
                                        <span class="badge badge-secondary" th:text="${jobData.currentObject.organisation.name}"></span>
                                        <span class="badge badge-secondary" th:text="${#dates.format(jobData.currentObject.createdAt, 'dd-MMM-yyyy')}"></span>
                                    </h5>
                                    <section id="content" class="img-thumbnail table-responsive-sm table-responsive-md"></section>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-2 d-none d-lg-block">

                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/unlogged_fragments :: unlogged-footer"></th:block>
        </div>
    </main>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-js-scripts"></th:block>
    <script th:inline="javascript" th:if="${jobData.currentObject != null}">
        //<![CDATA[
        var content = /*[[${jobData.currentObject.content}]]*/ '';
        $('#content').html(decodeURIComponent(content));
        //]]>
    </script>
    <script>
        $('#content img').addClass("img-fluid");
    </script>
</body>

</html>