<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Assam Adda</title>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-links"></th:block>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-css"></th:block>
</head>

<body class="animsition">
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-header"></th:block>

    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 m-tb-6">
                <a th:href="@{/}" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>
                <span class="breadcrumb-item f1-s-3 cl9">Privacy Policy </span>
            </div>

            <form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6" method="GET" th:action="@{/job-search}" id="form-job-search">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45 w-100" type="text" name="searchText" placeholder="Search">
                <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
            </form>
        </div>
    </div>

    <!-- Post -->
    <section class="bg0 pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30">
                    <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2 text-center">
                        Privacy Policy
                    </h3>
                    <p>Your privacy is important to us. It is Assam Adda's policy to respect your privacy regarding any information we may collect from you across our website, <a href="https://assamadda.com">https://assamadda.com</a>,
                        and other sites we own and operate.</p><br>
                    <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p><br>
                    <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorised access,
                        disclosure, copying, use or modification.</p><br>
                    <p>We don’t share any personally identifying information publicly or with third-parties, except when required to by law.</p><br>
                    <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p><br>
                    <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p><br>
                    <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p><br>
                </div>

                <div class="col-md-10 col-lg-4">
                    <th:block th:replace="fragments/unlogged_fragments :: unlogged-right-index-sidebar"></th:block>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-footer"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-top-button"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-js-scripts"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-end-scripts"></th:block>
</body>

</html>