<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Assam Adda</title>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-links"></th:block>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-css"></th:block>
    <!-- For Google Recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="animsition">
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-header"></th:block>

    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 m-tb-6">
                <a th:href="@{/}" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>
                <span class="breadcrumb-item f1-s-3 cl9">Subscribe</span>
            </div>

            <form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6" method="GET" th:action="@{/job-search}" id="form-job-search">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45 w-100" type="text" name="searchText" placeholder="Search">
                <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
            </form>
        </div>
    </div>

    <!-- Post -->
    <section class="bg0 pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30 text-center">
                    <h1 class="f1-l-4 cl3 p-b-12 text-success">SUBSCRIBE US</h1>
                    <p class="text-center">
                        Subscribe to our jobletter to get frequent updates on various jobs and exams.
                    </p>
                    <form id="form-subscribe" class="pt-4">
                        <div class="row p-2">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <input type="email" class="form-control form-control-lg" name="email" placeholder="Enter your email to receive job alerts" autocomplete="off" style="border-radius: 0; border:2px solid #f76f58;" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="g-recaptcha" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-12">
                                <h5 id="error-message" class="text-center text-danger"></h5>
                            </div>
                        </div>
                        <div class="row p-4">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit" id="btn-subscribe-submit" class="btn btn-success btn-lg w-100">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-10 col-lg-4">
                    <th:block th:replace="fragments/unlogged_fragments :: unlogged-right-index-sidebar"></th:block>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-footer"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-top-button"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-js-scripts"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-end-scripts"></th:block>

    <!-- SUBMIT SUBSCRIPT FORM -->
    <script>
        $("#form-subscribe").submit(function(event) {
            event.preventDefault();
            $("#btn-subscribe-submit").html("Processing <i class='fas fa-circle-notch fa-spin'></i>");
            $('#btn-subscribe-submit').prop('disabled', true);
            $("#form-subscribe").contents().find('.error-message').remove();
            $.ajax({
                type: "POST",
                url: contextPath + "create-subscriber",
                data: $("#form-subscribe").serialize(),
                cache: false,
                timeout: 600000,
                success: function(response) {
                    $("#form-subscribe").html(`<div class="row p-4">
                            <div class="col-md-12">
                                <h1 class="text-center text-success f1-l-1"><i class="far fa-check-square"></i></h1>
                                <strong class="text-center">Subscription Successfull.</strong>
                            </div>
                        </div>`);
                },
                error: function(e) {
                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e.responseJSON.errorMessages != null) {
                        $.each(e.responseJSON.errorMessages, function(key, value) {
                            $("#form-subscribe").contents().find('[name=' + key + ']').after('<span class="error-message">' + value + '</span>');
                        });
                        $("#btn-subscribe-submit").html("Subscribe");
                        $('#btn-subscribe-submit').prop('disabled', false);
                    } else {
                        $("#form-subscribe").html(`
                        <div class="row p-4">
                            <div class="col-md-12">
                                <h1 class="text-center text-danger f1-l-1"><i class="far fa-times-circle"></i></h1>
                                <strong class="text-center">Oops! Something went wrong.</strong>
                            </div>
                        </div>`);
                    }
                }
            });
        });
    </script>
</body>

</html>