<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Assam Adda</title>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-links"></th:block>
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-css"></th:block>
</head>

<body class="animsition">
    <th:block th:replace="fragments/unlogged_fragments :: unlogged-header"></th:block>

    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 m-tb-6">
                <a th:href="@{/}" class="breadcrumb-item f1-s-3 cl9">
					Home 
				</a>
                <span class="breadcrumb-item f1-s-3 cl9">Terms of Service </span>
            </div>

            <form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6" method="GET" th:action="@{/job-search}" id="form-job-search">
                <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45 w-100" type="text" name="searchText" placeholder="Search">
                <button type="submit" class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
            </form>
        </div>
    </div>

    <!-- Post -->
    <section class="bg0 pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30 bootstrap-list">
                    <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2 text-center">
                        Assam Adda Terms of Service
                    </h3>
                    <h3 class="f1-l-4 cl3 p-b-12">1. Terms</h3>
                    <p class="justify-content-center">By accessing the website at <a href="https://assamadda.com">https://assamadda.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for
                        compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark
                        law.
                    </p><br>
                    <h3 class="f1-l-4 cl3 p-b-12">2. Use Licence</h3>
                    <ol type="a">
                        <li>Permission is granted to temporarily download one copy of the materials (information or software) on Assam Adda's website for personal, non-commercial transitory viewing only. This is the grant of a licence, not a transfer
                            of title, and under this licence you may not:
                            <ol type="i">
                                <li style="display: list-item;">modify or copy the materials;</li>
                                <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                                <li>attempt to decompile or reverse engineer any software contained on Assam Adda's website;</li>
                                <li>remove any copyright or other proprietary notations from the materials; or</li>
                                <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                            </ol>
                        </li>
                        <li>This licence shall automatically terminate if you violate any of these restrictions and may be terminated by Assam Adda at any time. Upon terminating your viewing of these materials or upon the termination of this licence,
                            you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
                    </ol><br>
                    <h3 class="f1-l-4 cl3 p-b-12">3. Disclaimer</h3>
                    <ol type="a">
                        <li>The materials on Assam Adda's website are provided on an 'as is' basis. Assam Adda makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied
                            warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
                        <li>Further, Assam Adda does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites
                            linked to this site.</li>
                    </ol><br>
                    <h3 class="f1-l-4 cl3 p-b-12">4. Limitations</h3>
                    <p>In no event shall Assam Adda or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials
                        on Assam Adda's website, even if Assam Adda or a Assam Adda authorised representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations
                        on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
                    <br>
                    <h3 class="f1-l-4 cl3 p-b-12">5. Accuracy of materials</h3>
                    <p>The materials appearing on Assam Adda's website could include technical, typographical, or photographic errors. Assam Adda does not warrant that any of the materials on its website are accurate, complete or current. Assam
                        Jobs Online may make changes to the materials contained on its website at any time without notice. However Assam Adda does not make any commitment to update the materials.</p>
                    <br>
                    <h3 class="f1-l-4 cl3 p-b-12">6. Links</h3>
                    <p>Assam Adda has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Assam Adda of the site. Use of
                        any such linked website is at the user's own risk.</p>
                    <br>
                    <h3 class="f1-l-4 cl3 p-b-12">7. Modifications</h3>
                    <p>Assam Adda may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
                    <br>
                    <h3 class="f1-l-4 cl3 p-b-12">8. Governing Law</h3>
                    <p>These terms and conditions are governed by and construed in accordance with the laws of India and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
                </div>

                <div class="col-md-10 col-lg-4">
                    <th:block th:replace="fragments/unlogged_fragments :: unlogged-right-index-sidebar"></th:block>
                </div>
            </div>
        </div>
    </section>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-footer"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-top-button"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-js-scripts"></th:block>

    <th:block th:replace="fragments/unlogged_fragments :: unlogged-end-scripts"></th:block>
</body>

</html>