<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <title sec:authentication="principal.firstName"></title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid pb-5">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class=""> <i class="fas fa-briefcase"></i> ARTICLES</h2>
                    </div>
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4">
                        <a th:href="@{/contributor/articles/create}" class="btn btn-success btn-sm float-right"><i
                                class="fas fa-plus"></i> Create Article</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1" id="div-article-list">

                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        $(function() {
            getArticleList();
        });
    </script>
    <script>
        function getArticleList() {
            $.ajax({
                type: "GET",
                url: contextPath + "contributor/get-contributor-article-list",
                timeout: 600000,
                beforeSend: function() {
                    // $('#div-article-list').block({
                    //     message: '<h3>Please wait...</h3>',
                    //     css: {
                    //         border: '3px solid darkgrey'
                    //     }
                    // });
                },
                success: function(response) {
                    var content = `<table id="table-article-list" class="table table-striped jambo_table text-black" style="width:100%">
                          <thead>
                            <tr class="text-center text-uppercase">
                              <th width="5%">SN</th>
                              <th  width="60%">TITLE</th>
                              <th>CREATED AT</th>
                              <th>VISIBLE TO</th>
                              <th>ACTION</th>
                            </tr>
                          </thead>
                        </table>`;
                    $('#div-article-list').html(content);
                    var tableArticleList = $('#table-article-list').DataTable({
                        "paging": false,
                        "ordering": true,
                        "info": true,
                        "searching": true,
                        "columnDefs": [{
                            "className": "dt-center",
                            "targets": "_all"
                        }]
                    });

                    $.each(response.payload.objectList, function(key, article) {
                        tableArticleList.row.add([
                            `<b>${key + 1}</b>`,
                            `<a class="text-primary" href="${contextPath}contributor/articles/update/${article.slug}">${article.title}</a>`,
                            `${moment(article.createdAt).format("Do MMM YYYY")}`,
                            `${article.visibleTo}`,
                            `<strong><a href="#" data-article-id="${article.articleId}" class="delete-article text-danger">Delete</a></strong>`
                        ]).draw(false);
                    });
                },
                error: function(e) {
                    $('#div-article-list').html(
                        `<h1 class="text-center text-danger"><i class="fas fa-exclamation-triangle"></i><br> ${e.responseJSON.httpStatus}<h1><h4 class="text-center">${e.responseJSON.message}</h4>`
                    );
                },
                complete: function() {
                    // $('#div-article-list').unblock();
                }
            });
        }
    </script>
    <script>
        // ON ARTICLE DELETE
        $(document).on('click', '.delete-article', function(e) {
            e.preventDefault();
            var ajax_return;
            let articleId = e.target.dataset.articleId;
            console.log(e);
            $.confirm({
                title: 'Warning!',
                content: "Are you sure you want to delete the article.",
                type: 'red',
                typeAnimated: true,
                buttons: {
                    confirm: function() {
                        $.confirm({
                            content: function() {
                                var self = this;
                                return ajax_return = $.ajax({
                                    type: "PUT",
                                    url: contextPath + "contributor/delete-article",
                                    data: {
                                        "articleId": articleId
                                    },
                                }).done(function(response) {
                                    self.setTitle("Success!");
                                    self.setType("green");
                                    self.setContent(response.message);
                                }).fail(function(e) {
                                    self.setTitle(e.responseJSON.httpStatus);
                                    self.setType("red");
                                    self.setContent("ERROR");
                                })
                                return true;
                            },
                            buttons: {
                                ok: function() {
                                    ajax_return.done(function(message) {
                                        getArticleList();
                                    })
                                }
                            }
                        });
                    },
                    cancel: function() {}
                }
            });
        });
    </script>
</body>

</html>