<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">
    <style>
        p {
            margin: 0;
        }
    </style>
    <title sec:authentication="principal.firstName"></title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid ">
                <div class="row pb-3">
                    <div class="col-lg-8 offset-lg-1">
                        <h3 th:text="${pagePurpose}"></h3>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <form id="form-article">
                            <div th:if="${pagePurpose == 'UPDATE ARTICLE'}">
                                <input type="hidden" name="articleId">
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10" style="position:unset;">
                                    <input type="text" class="form-control" name="title">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Content</label>
                                <div class="col-sm-10">
                                    <textarea type="text" name="content"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Keywords</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="keywords">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Visible To</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="visibleTo">
                                        <option value="Public">Public</option>
                                        <option value="Contributor">Contributor</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-4 offset-lg-4">
                                    <button type="submit" class="btn btn-primary w-100">Submit Details</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>

    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('[name=content]').summernote();

            var pagePurpose = /*[[${pagePurpose}]]*/ '';

            if (pagePurpose === 'UPDATE ARTICLE') {
                getArticleData(articleSlug);
            }

            $('.modal ').insertAfter($('body'));
        });
    </script>
    <script>
        // ON ARTICLE FORM SUBMIT
        $(document).on('submit', '#form-article', function(e) {
            e.preventDefault();
            $('.text-danger').remove();
            let form = $('#form-article')[0]; // You need to use standard javascript object here
            let formData = new FormData(form);
            formData.set("content", encodeURIComponent($('[name=content]').val()));
            let ajax_return;
            $.confirm({
                title: 'Warning!',
                content: "Are you sure you want to submit the form?",
                type: 'blue',
                typeAnimated: true,
                buttons: {
                    confirm: function() {
                        $.confirm({
                            content: function() {
                                let self = this;
                                return ajax_return = $.ajax({
                                    type: "POST",
                                    url: contextPath + "contributor/create-article",
                                    data: formData,
                                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                                    processData: false,
                                }).done(function(response) {
                                    self.setTitle("Success!");
                                    self.setType("green");
                                    self.setContent(response.message);
                                }).fail(function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e.responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key, value) {
                                            $('#form-article').contents().find("[name='" + key + "']").after('<span class="text-danger">' + value + '</span>');
                                        });

                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("VALIDATION ERROR");
                                    } else {
                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("ERROR");
                                    }
                                })
                                return true;
                            },
                            buttons: {
                                ok: function() {
                                    ajax_return.done(function(message) {
                                        window.location.href = contextPath + "contributor/articles";
                                    })
                                }
                            }
                        });
                    },
                    cancel: function() {}
                }
            });
        });
    </script>

    <script th:inline="javascript" th:if="${pagePurpose == 'UPDATE ARTICLE'}">
        var articleSlug = /*[[${articleSlug}]]*/ '';

        function getArticleData(articleSlug) {
            $.ajax({
                type: "GET",
                url: contextPath + "contributor/get-contributor-article-data",
                data: {
                    "articleSlug": articleSlug
                },
                timeout: 600000,
                beforeSend: function() {
                    // $('#form-article').block({
                    //     message: '<h3>Please wait...</h3>',
                    //     css: {
                    //         border: '3px solid darkgrey'
                    //     }
                    // });
                },
                success: function(response) {
                    const articleData = response.payload;
                    $('#form-article').contents().find('[name="articleId"]').val(articleData.articleId);
                    $('#form-article').contents().find('[name="title"]').val(articleData.title);
                    $('#form-article').contents().find('[name="description"]').val(articleData.description);
                    $('[name=content]').summernote('code', decodeURIComponent(articleData.content));


                    $('#form-article').contents().find('[name="keywords"]').val(articleData.keywords);
                    $('#form-article').contents().find('[name="visibleTo"]').val(articleData.visibleTo);
                },
                error: function(e) {
                    $('#form-article').html(
                        `<h1 class="text-center text-danger"><i class="fas fa-exclamation-triangle"></i><br> ${e.responseJSON.httpStatus}<h1><h4 class="text-center">${e.responseJSON.message}</h4>`
                    );
                },
                complete: function() {
                    // $('#form-article').unblock();
                }
            });
        }
    </script>
</body>

</html>