<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">
    <style>
        p {
            margin: 0;
        }
    </style>
    <title sec:authentication="principal.firstName"></title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid ">
                <div class="row pb-3">
                    <div class="col-lg-8 offset-lg-1">
                        <h3 th:text="${pagePurpose}"></h3>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <form id="form-job">
                            <div th:if="${pagePurpose == 'UPDATE JOB'}">
                                <input type="hidden" name="jobId">
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10" style="position:unset;">
                                    <input type="text" class="form-control" name="title">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="description"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Content</label>
                                <div class="col-sm-10">
                                    <textarea type="text" name="content"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Qualification</label>
                                <div class="col-sm-10">
                                    <select th:if="${not #lists.isEmpty(jobData.objectList3)}" multiple class="js-example-basic-multiple" name="qualifications" id="qualifications" style="width: 100%">
                                        <option th:each="x,iterator : ${jobData.objectList3}" th:text="${x.name}"
                                            th:value="${x.qualificationId}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">District</label>
                                <div class="col-sm-10">
                                    <select th:if="${not #lists.isEmpty(jobData.objectList)}" multiple class="js-example-basic-multiple" name="districts" id="districts" style="width: 100%">
                                        <option th:each="x,iterator : ${jobData.objectList}" th:text="${x.name}"
                                            th:value="${x.districtId}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="category">
                                        <option value="Job">Job</option>
                                        <option value="Exam">Exam</option>
                                        <option value="Admit Card">Admint Card</option>
                                        <option value="Internship">Internship</option>
                                        <option value="Result">Result</option>
                                        <option value="Article">Article</option>
                                        <option value="Notification">Notification</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Sectors</label>
                                <div class="col-sm-10">
                                    <select th:if="${not #lists.isEmpty(jobData.objectList2)}" multiple class="js-example-basic-multiple" name="sectors" id="sectors" style="width: 100%">
                                        <option th:each="x,iterator : ${jobData.objectList2}" th:text="${x.name}"
                                            th:value="${x.sectorId}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Organisation</label>
                                <div class="col-sm-6">
                                    <select class="form-control js-data-example-ajax" name="organisation"></select>
                                </div>
                                <div class="col-sm-4">
                                    <a href="#modal-new-organisation" ß data-toggle="modal" id="new-organisation" class="btn btn-xs btn-primary"><strong> <i class="fas fa-plus"></i> NEW ORGANISATION</strong></a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Start Date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control datepicker" name="startDate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">End Date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control datepicker" name="endDate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Keywords</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="keywords">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Post Date</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control datepicker" name="postDate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Visible To</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="visibleTo">
                                        <option value="Public">Public</option>
                                        <option value="Contributor">Contributor</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-4 offset-lg-4">
                                    <button type="submit" class="btn btn-primary w-100">Submit Details</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <!-- MODAL FOR ORGANISATION CREATION -->
    <div class="modal fade" id="modal-new-organisation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Organisation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="form-new-organisation">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Organisation Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter Organisation Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Description</label>
                            <textarea type="text" class="form-control" name="description" placeholder="Enter Organisation Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Organisation Logo</label>
                            <input type="file" class="form-control" name="image" placeholder="Select Organisation Image">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 w-100">Create organisation</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('[name=content]').summernote();
            $('.js-example-basic-multiple').select2();
            $(".datepicker").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true
            });
            $(".datepicker").datepicker("setDate", new Date());

            var pagePurpose = /*[[${pagePurpose}]]*/ '';

            if (pagePurpose === 'UPDATE JOB') {
                getJobData(jobSlug);
            }

            $('.js-data-example-ajax').select2({
                ajax: {
                    url: contextPath + "contributor/get-search-organisation",
                    dataType: 'json',
                    data: function(params) {
                        return {
                            searchText: params.term
                        };
                    },
                    processResults: function(response, params) {
                        var data = $.map(response.payload.objectList, function(org) {
                            org.id = org.id || org.organisationId;
                            org.text = org.text || org.name;
                            org.description = org.description || org.description;
                            org.image = org.image || org.image;
                            return org;
                        });
                        return {
                            results: data,
                        };
                    },
                    cache: true
                },
                placeholder: 'Search for an organisation',
                minimumInputLength: 2,
                templateResult: formatRepo,
            });

            function formatRepo(repo) {

                var $container = $(
                    `<div class='select2-result-repository row'>
                        <div class='select2-result-repository__avatar col-lg-2'><img src='data:image/jpeg;base64,${repo.image}' style="max-width:80px;"/></div>
                        <div class='select2-result-repository__meta  col-lg-10'>
                            <div class='select2-result-repository__title'>${repo.text}</div>
                            <small class='select2-result-repository__description'>${repo.description}</small>
                        </div>
                    </div>`
                );

                return $container;
            }


            $('.modal ').insertAfter($('body'));
        });
    </script>
    <script>
        // ON JOB FORM SUBMIT
        $(document).on('submit', '#form-job', function(e) {
            e.preventDefault();
            $('.text-danger').remove();
            let form = $('#form-job')[0]; // You need to use standard javascript object here
            let formData = new FormData(form);
            formData.set("content", encodeURIComponent($('[name=content]').val()));
            let ajax_return;
            $.confirm({
                title: 'Warning!',
                content: "Are you sure you want to submit the form. Organisation dila ne?",
                type: 'blue',
                typeAnimated: true,
                buttons: {
                    confirm: function() {
                        $.confirm({
                            content: function() {
                                let self = this;
                                return ajax_return = $.ajax({
                                    type: "POST",
                                    url: contextPath + "contributor/create-job",
                                    data: formData,
                                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                                    processData: false,
                                }).done(function(response) {
                                    self.setTitle("Success!");
                                    self.setType("green");
                                    self.setContent(response.message);
                                }).fail(function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e.responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key, value) {
                                            $('#form-job').contents().find("[name='" + key + "']").after('<span class="text-danger">' + value + '</span>');
                                        });

                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("VALIDATION ERROR");
                                    } else {
                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("ERROR");
                                    }
                                })
                                return true;
                            },
                            buttons: {
                                ok: function() {
                                    ajax_return.done(function(message) {
                                        window.location.href = contextPath + "contributor/jobs";
                                    })
                                }
                            }
                        });
                    },
                    cancel: function() {}
                }
            });
        });

        // ON ORGANISATION FORM SUBMIT
        $(document).on('submit', '#form-new-organisation', function(e) {
            e.preventDefault();
            $('.text-danger').remove();
            let form = $('#form-new-organisation')[0]; // You need to use standard javascript object here
            let formData = new FormData(form);
            let ajax_return;
            $.confirm({
                title: 'Warning!',
                content: "Are you sure you want to create the organisation.",
                type: 'blue',
                typeAnimated: true,
                buttons: {
                    confirm: function() {
                        $.confirm({
                            content: function() {
                                let self = this;
                                return ajax_return = $.ajax({
                                    type: "POST",
                                    url: contextPath + "contributor/create-organisation",
                                    data: formData,
                                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                                    processData: false,
                                }).done(function(response) {
                                    self.setTitle("Success!");
                                    self.setType("green");
                                    self.setContent(response.message);
                                }).fail(function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e.responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key, value) {
                                            $('#form-new-organisation').contents().find("[name='" + key + "']").after('<span class="text-danger">' + value + '</span>');
                                        });

                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("VALIDATION ERROR");
                                    } else {
                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("ERROR");
                                    }
                                })
                                return true;
                            },
                            buttons: {
                                ok: function() {
                                    ajax_return.done(function(message) {
                                        $("#form-new-organisation").trigger("reset");
                                        $('#modal-new-organisation').modal("hide");
                                    })
                                }
                            }
                        });
                    },
                    cancel: function() {}
                }
            });
        });
    </script>

    <script th:inline="javascript" th:if="${pagePurpose == 'UPDATE JOB'}">
        var jobSlug = /*[[${jobSlug}]]*/ '';

        function getJobData(jobSlug) {
            $.ajax({
                type: "GET",
                url: contextPath + "contributor/get-contributor-job-data",
                data: {
                    "jobSlug": jobSlug
                },
                timeout: 600000,
                beforeSend: function() {
                    // $('#form-job').block({
                    //     message: '<h3>Please wait...</h3>',
                    //     css: {
                    //         border: '3px solid darkgrey'
                    //     }
                    // });
                },
                success: function(response) {
                    const jobData = response.payload;
                    $('#form-job').contents().find('[name="jobId"]').val(jobData.jobId);
                    $('#form-job').contents().find('[name="title"]').val(jobData.title);
                    $('#form-job').contents().find('[name="description"]').val(jobData.description);
                    $('[name=content]').summernote('code', decodeURIComponent(jobData.content));

                    const districts = jobData.districts.map(district => district.districtId);
                    $('#form-job').contents().find('[name="districts"]').val(districts); // Select the option with a value of '1'
                    $('#form-job').contents().find('[name="districts"]').trigger('change'); // Notify any JS components that the value changed

                    const qualifications = jobData.qualifications.map(qualification => qualification.qualificationId);
                    $('#form-job').contents().find('[name="qualifications"]').val(qualifications); // Select the option with a value of '1'
                    $('#form-job').contents().find('[name="qualifications"]').trigger('change'); // Notify any JS components that the value changed

                    $('#form-job').contents().find('[name="category"]').val(jobData.category);

                    const sectors = jobData.sectors.map(sector => sector.sectorId);
                    $('#form-job').contents().find('[name="sectors"]').val(sectors); // Select the option with a value of '1'
                    $('#form-job').contents().find('[name="sectors"]').trigger('change'); // Notify any JS components that the value changed

                    var newOption = new Option(jobData.organisation.name, jobData.organisation.organisationId, false, false);
                    $('[name="organisation"]').append(newOption).trigger('change');

                    $('#form-job').contents().find('[name="startDate"]').val(jobData.startDate);
                    $('#form-job').contents().find('[name="endDate"]').val(jobData.endDate);
                    $('#form-job').contents().find('[name="keywords"]').val(jobData.keywords);
                    $('#form-job').contents().find('[name="postDate"]').val(jobData.postDate);
                    $('#form-job').contents().find('[name="visibleTo"]').val(jobData.visibleTo);
                },
                error: function(e) {
                    $('#form-job').html(
                        `<h1 class="text-center text-danger"><i class="fas fa-exclamation-triangle"></i><br> ${e.responseJSON.httpStatus}<h1><h4 class="text-center">${e.responseJSON.message}</h4>`
                    );
                },
                complete: function() {
                    // $('#form-job').unblock();
                }
            });
        }
    </script>
</body>

</html>