<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <title sec:authentication="principal.firstName"></title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid pb-5 pt-5 mb-5 mt-5">
                <div class="row">
                    <div class="col-2 d-none d-lg-block">

                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="mt-0 text-success">Hey Contributor</h5>
                        You are one of the few contributors selected to post jobs on Assam Adda. So we expect you to post jobs that you have personally verified in the official website. The language used in the post must be in formal language and no slang or any abusive
                        language is permitted. There must not be any grammatical or syntactic errors in the language used. Posts must only be written in English language. On failing to maintain the above standards your account might be temporarily or
                        permanently banned depending on the severity.
                        <br>Thanks and HAPPY POSTING.
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <a th:href="@{/contributor/jobs}" class="btn btn-success w-100"><i class="fab fa-angellist fa-3x"></i><br> Job Entry</a>
                            </div>
                            <div class="col-md-4">
                                <a th:href="@{/contributor/current-affair}" class="btn btn-success w-100"><i class="fas fa-car-crash fa-3x"></i><br> Current Affairs</a>
                            </div>
                            <div class="col-md-4">
                                <a th:href="@{/contributor/articles}" class="btn btn-success w-100"><i class="fab fa-angrycreative fa-3x"></i><br> Article Entry</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-none d-lg-block">

                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
</body>

</html>