<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <title sec:authentication="principal.firstName"></title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid pb-5">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class=""> <i class="fas fa-briefcase"></i> JOBS</h2>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="text-center">SELECT DATE RANGE TO SEARCH JOBS</h5>
                        <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <a th:href="@{/contributor/jobs/create}" class="btn btn-success btn-sm float-right"><i
                                class="fas fa-plus"></i> Create Job</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1" id="div-job-list">

                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        $(function() {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                alwaysShowCalendars: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf(
                        'month')]
                }
            }, cb);

            cb(start, end);

            $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
                getJobList();
            });
            $('#report-district').on('change', function(ev, picker) {
                getJobList();
            });

            $('#reportrange').trigger('apply.daterangepicker');
        });
    </script>
    <script>
        function getJobList() {
            let startDate = moment($('#reportrange').data('daterangepicker').startDate).format("YYYY-MM-DD HH:mm:ss");
            let endDate = moment($('#reportrange').data('daterangepicker').endDate).format("YYYY-MM-DD HH:mm:ss");
            $.ajax({
                type: "GET",
                url: contextPath + "contributor/get-contributor-job-list-daterange",
                data: {
                    "startDate": startDate,
                    "endDate": endDate
                },
                timeout: 600000,
                beforeSend: function() {
                    // $('#div-job-list').block({
                    //     message: '<h3>Please wait...</h3>',
                    //     css: {
                    //         border: '3px solid darkgrey'
                    //     }
                    // });
                },
                success: function(response) {
                    var content = `<table id="table-job-list" class="table table-striped jambo_table text-black" style="width:100%">
                          <thead>
                            <tr class="text-center text-uppercase">
                              <th width="5%">SN</th>
                              <th  width="60%">TITLE</th>
                              <th>CREATED AT</th>
                              <th>VISIBLE TO</th>
                              <th>ACTION</th>
                            </tr>
                          </thead>
                        </table>`;
                    $('#div-job-list').html(content);
                    var tableJobList = $('#table-job-list').DataTable({
                        "paging": false,
                        "ordering": true,
                        "info": true,
                        "searching": true,
                        "columnDefs": [{
                            "className": "dt-center",
                            "targets": "_all"
                        }]
                    });

                    $.each(response.payload.objectList, function(key, job) {
                        tableJobList.row.add([
                            `<b>${key + 1}</b>`,
                            `<a class="text-primary" href="${contextPath}contributor/jobs/update/${job.slug}">${job.title}</a>`,
                            `${moment(job.createdAt).format("Do MMM YYYY")}`,
                            `${job.visibleTo}`,
                            `<strong><a href="#" data-job-id="${job.jobId}" class="delete-job text-danger">Delete</a></strong>`
                        ]).draw(false);
                    });
                },
                error: function(e) {
                    $('#div-job-list').html(
                        `<h1 class="text-center text-danger"><i class="fas fa-exclamation-triangle"></i><br> ${e.responseJSON.httpStatus}<h1><h4 class="text-center">${e.responseJSON.message}</h4>`
                    );
                },
                complete: function() {
                    // $('#div-job-list').unblock();
                }
            });
        }
    </script>
    <script>
        // ON JOB DELETE
        $(document).on('click', '.delete-job', function(e) {
            e.preventDefault();
            var ajax_return;
            let jobId = e.target.dataset.jobId;
            console.log(e);
            $.confirm({
                title: 'Warning!',
                content: "Are you sure you want to delete the job.",
                type: 'red',
                typeAnimated: true,
                buttons: {
                    confirm: function() {
                        $.confirm({
                            content: function() {
                                var self = this;
                                return ajax_return = $.ajax({
                                    type: "PUT",
                                    url: contextPath + "contributor/delete-job",
                                    data: {
                                        "jobId": jobId
                                    },
                                }).done(function(response) {
                                    self.setTitle("Success!");
                                    self.setType("green");
                                    self.setContent(response.message);
                                }).fail(function(e) {
                                    self.setTitle(e.responseJSON.httpStatus);
                                    self.setType("red");
                                    self.setContent("ERROR");
                                })
                                return true;
                            },
                            buttons: {
                                ok: function() {
                                    ajax_return.done(function(message) {
                                        getJobList();
                                    })
                                }
                            }
                        });
                    },
                    cancel: function() {}
                }
            });
        });
    </script>
</body>

</html>