<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- LOGGED SIDEBAR  -->
<th:block th:fragment="logged-sidebar">
    <nav id="menu">
        <ul class="navbar-nav">
            <li class="nav-item text-white p-3">
                <i class="fas fa-user"></i> <span sec:authentication="principal.firstName"></span>
            </li>
        </ul>
    </nav>
</th:block>

<!-- LOGGED NAVBAR  -->
<th:block th:fragment="logged-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand p-0 " th:href="@{/contributor}">
                <!-- <img th:src="@{/images/assamadda_logo.png}"> -->
            </a>
            <button class="navbar-toggler navbar-toggler-left toggle-button" type="button" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav"></ul>
            </div>
        </div>
    </nav>
</th:block>

<!-- logged LINKS  -->
<th:block th:fragment="logged-links">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="ctx" th:href="@{/}" />
</th:block>

<!-- logged CSS  -->
<th:block th:fragment="logged-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400italic,400" rel="stylesheet">
    <link th:href="@{/theme/css/theme.css}" rel="stylesheet">
    <link th:href="@{/custom/css/publicStyle.css}" rel="stylesheet">
</th:block>

<!-- logged SIDEBAR  -->
<!-- <th:block th:fragment="logged-sidebar">
    <nav id="menu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="category.html"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>
                    Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i> About
                    Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Contact
                    Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="result.html"> <i class="fa fa-search fa-fw" aria-hidden="true"></i> Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/prianto/artika-html" target="_blank"> <i class="fa fa-cloud-download" aria-hidden="true"></i> Download</a>
            </li>
        </ul>
    </nav>
</th:block> -->

<!-- logged NAVBAR  -->
<!-- <th:block th:fragment="logged-navbar">
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand p-0 " th:href="@{/}">
                <img th:src="@{/images/assamadda_logo.png}">
            </a>
            <button class="navbar-toggler navbar-toggler-left toggle-button" type="button" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto"></ul>
            </div>
        </div>
    </nav>
</th:block> -->

<!-- logged SIDEBAR SECTOR LINKS-->
<!-- <th:block th:fragment="logged-sidebar-sector-links">
    <div class="col-12 portfolio-item">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary"><i class="far fa-dot-circle"></i> Administrative Jobs<i class="fas fa-angle-double-right float-right"></i></a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="far fa-dot-circle"></i> Government Jobs<i class="fas fa-angle-double-right float-right"></i></a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success"><i class="far fa-dot-circle"></i> Private Sector Jobs<i class="fas fa-angle-double-right float-right"></i></a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-danger"><i class="far fa-dot-circle"></i> Banking Jobs<i class="fas fa-angle-double-right float-right"></i></a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning"><i class="far fa-dot-circle"></i> Teaching Jobs<i class="fas fa-angle-double-right float-right"></i></a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info"><i class="far fa-dot-circle"></i> NGO Jobs<i class="fas fa-angle-double-right float-right"></i></a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark"><i class="far fa-dot-circle"></i> Miscellaneous Jobs<i class="fas fa-angle-double-right float-right"></i></a>
        </div>
    </div>
</th:block> -->

<!-- logged SIDEBAR ADMIT CARDS LINKS-->
<!-- <th:block th:fragment="logged-sidebar-admit-cards">
    <div class="col-12 portfolio-item">
        <div class="card h-100">
            <div id="mainNav" class="text-white text-center pt-1 pb-2">
                <strong>ADMIT CARDS</strong>
            </div>
            <div class="card-body pl-0 pt-0">
                <ul>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block> -->

<!-- logged SIDEBAR EXAM RESULTS LINKS-->
<!-- <th:block th:fragment="logged-sidebar-exam-results">
    <div class="col-12 portfolio-item">
        <div class="card h-100">
            <div id="mainNav" class="text-white text-center pt-1 pb-2">
                <strong>EXAMS AND RESULTS</strong>
            </div>
            <div class="card-body pl-0 pt-0">
                <ul>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                    <li class="pb-2"><a href="#">Morbi blandit tellus maximus, dignissim nunc vel, accumsan ex.</a></li>
                </ul>
            </div>
        </div>
    </div>
</th:block> -->

<!-- logged FOOTER  -->
<th:block th:fragment="logged-footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a class="dropdown-item" th:href="@{/contributor}"> Home</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="dropdown-item" th:href="@{/contributor/jobs}"> Jobs</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="dropdown-item" th:href="@{/contributor/articles}"> Articles</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="dropdown-item" th:href="@{/logout}"> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>

<!-- logged JAVASCRIPT -->
<th:block th:fragment="logged-js-scripts">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/theme/js/slideout.min.js}"></script>
    <script th:src="@{/theme/js/theme.js}"></script>
    <script src="https://kit.fontawesome.com/dd6cee5b12.js" crossorigin="anonymous"></script>
    <script>
        var meta = $("meta[name=ctx]");
        var contextPath = meta.attr("href");
    </script>
    </th:blocks>
</th:block>


</html>